.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.menu-section {
    margin-top: 70px;
}

.menu-item {
    background-color: var(--light-pink);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.menu-section img {
    width: 100px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.details p {
    margin: 0;
}

.details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.details .heading {
    font-weight: bold;
}

.details .price {
    color: var(--foreground);
}

#new-label {
    background-color: var(--accent);
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    width: 45px;
    border-radius: 5px;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
}